.line-history{
    background-color: #26d3ff;
    width:19%;
    height: 5px;

}
.table-head {

  margin: 10px;
  text-align: center;
  width: 98%;
  
  border-radius: 20px;
 
}
.history-table {
    width: 98%;
    margin: 10px;
}
.history-table th{
  padding: 12px;
 
}
.table-head-data{
  margin-top: 30px;
  text-align: center;
  padding: 12px;
  background-color: #26d3ff;
  border-top: 5px solid #a9edff;
}
.table-head-data td{
  padding: 15px;
  
}
